.product-list {
  color: #333;
  .inventory-table {
    margin-top: 3rem;
  }
  .table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 2rem;
    .search {
      width: 100%;
      max-width: 300px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      thead {
        border-top: 2px solid var(--light-blue);
        border-bottom: 2px solid var(--light-blue);
      }

      th {
        border: 1px solid #eee;
      }

      th,
      td {
        vertical-align: middle;
        text-align: left;
        padding: 8px;

        &.icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          > * {
            margin-right: 7px;
            cursor: pointer;
            vertical-align: middle;
            align-self: center;
            width: 100%;
            display: flex;
            // flex-wrap: wrap;
            gap: 10px;

            // justify-content: space-between;
          }
        }
        &.last-cell {
          // Add this block
          max-width: 80px;
        }
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

      tr:nth-child(even) {
        background-color: #fff;
      }
      tbody {
        tr:hover {
          cursor: pointer;
          background-color: rgba(31, 147, 255, 0.3);
        }
      }
    }
  }
}

.inventory-items-text {
  margin: 0 !important;
}

.inventory-items-container {
  margin-bottom: 1rem;
}

.delete-item,
.edit-item {
  width: 50% !important;
  height: 30px !important;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  margin: 0 !important;
}

.delete-item .icon-button,
.edit-item .icon-button {
  height: 30px !important;
}

.edit-item .icon-button {
  border-left: 1px solid #ca8608 !important;
}

.edit-item:hover .icon-button {
  border: none !important;
}

.edit-button {
  margin-right: 1rem;
  width: 50%;
}

.edit-item {
  background: #ffab0f !important;
  width: 100% !important;
  display: flex;
}

.actions {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1360px) {
  .text {
    display: none;
  }
  .edit-item .icon-button,
  .delete-item .icon-button {
    border: none !important;
  }
  .product-list .table table th.last-cell,
  .product-list .table table td.last-cell {
    max-width: initial;
  }
  .noselect .icon-button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1.5rem;
  }
  th{
    font-size: 1.4rem;

  }
  td {
    font-size: 1.3rem;
  }
}
