.change-password {
  width: 100%;
  .password-card {
    padding: 1rem;
    border: 1px solid #ccc;
  }
}



.passwords-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.passwords-inputs input {
  margin-bottom: 10px;
  max-width: 30%;
}


.change-pass-button{
  margin: 0 auto !important;
  // margin-bottom: 1rem !important;
}

@media screen and (max-width: 991px) {
  .passwords-inputs {
    flex-direction: column;
  }
  .passwords-inputs input {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
