.profile {
  .card {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex-direction: column;

    span.profile-photo {
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 150px;
      max-height: 150px;
      object-fit: cover;
    }
    span.profile-data {
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      position: relative;
      top: -5vh;
    }
    span.profile-data .profile-container > * {
      padding: 5px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  span.profile-photo {
    margin: auto;
  }
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input {
  -moz-appearance: textfield;
}

.profile-image {
  position: relative;
  top: -10vh;
  border-radius: 50%;
}

.profile-background {
  background-color: #4fa363;
  width: 100%;
  height: 20vh;
  position: absolute;
  left: 0;
  top: -10vh;
  z-index: -1;
}

.profile-card {
  margin-top: 10vh !important;
  overflow: initial;
  background-color: #fff;
}

.edit-profile-button {
  margin-top: 5vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-container p {
  display: flex;
  align-items: center;
}
.profile-container svg {
  padding-right: 10px;
}

.editing-data {
  flex-direction: row;
  align-items: flex-start;
  justify-self: flex-start;
  top: 0vh !important;
  width: 100%;
}

.editing-data > div:nth-child(1) {
  width: 30%;
}
.editing-data > div:nth-child(2) {
  width: 70%;
}

.two-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // align-items: center;
}

.bio-email {
  display: flex;
  flex-direction: row;
}

.two-inputs div {
  width: 40%;
  margin-right: 10%;
  padding-bottom: 20px;
}

.profile-photo-edit img {
  width: 100% !important;
  max-width: 250px !important;
  padding: 0px !important;
  padding-right: 16px !important;
}

.change-photo input {
  border: none !important;
  font-size: 1.2rem !important;
  color: #333 !important;
  padding-left: 0;
}

@media screen and (max-width: 1424px) {
  .bio-email {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .two-inputs {
    flex-direction: column;
    width: 100%;
  }
  .editing-data > div:nth-child(1),
  .editing-data > div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .two-inputs div {
    margin: 0px;
    width: 100%;
  }
  .profile .card span.editing-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px !important;
  }
  .two-inputs input,
  .passwords-inputs input {
    max-width: 100%;
    width: 100%;
  }
}
