.home {
  background-color: #073131;
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}

.title {
  margin: 5rem auto !important;
}

.home-numbers {
  margin: 0rem 1rem !important;
}

.welcome {
  margin: 0rem !important;
}

.hp-button {
  margin: 5rem auto;
}

.logo img {
  height: 50px;
  width: auto;
  display: flex;
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
}

.hero-text {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
.hero-image {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 50%;
  & img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(45, 255, 196, 0.4);
    -moz-box-shadow: 0px 0px 5px 3px rgba(45, 255, 196, 0.4);
    box-shadow: 0px 0px 5px 3px rgba(45, 255, 196, 0.4);
    border-radius: 8px;
    margin: 0 auto;
  }
}

.top-nav {
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .hero-text {
    width: 90%;
  }
  .statement {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    // padding: 20px !important
  }

  .logo img {
    height: 40px !important;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 90%;
    &img {
      width: 100%;
    }
  }
  .home-links a {
    font-size: 1.2rem;
  }
}

.big-number {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4rem;
}
