.layout {
  display: flex;
}
main {
  width: 100%;
  // padding: 20px;
  color: #ccc;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #073131;
  overflow: auto;
  color: var(-color-dark);
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  transition: all 0.5s;
  background-color: #073131;
  height: 70px;
}
.logo {
  color: var(--color-white);
}

.logo img {
  height: 50px !important;
}

.bars {
  display: flex;
  font-size: 25px;
  height: 30px;
  cursor: pointer;
  filter: invert(100%);
  color: var(--color-white);
  transition: all 0.3s;
}

.bars:hover {
  color: var(--color-primary);
  font-size: 27px;
}

.sidebar-item {
  padding: 12px;
  display: block;
  transition: background-color 0.15s;
  color: #fff;
}

.s-parent {
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #4fa460;
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.5s;
  font-size: 1.1rem;
}

.sidebar-title span .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  font-size: 25px;
  filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(200deg)
    brightness(103%) contrast(103%);
}

.sidebar-title .arrow-icon {
  cursor: pointer;
  transition: all 0.5s;
  height: 15px !important;
}

.sidebar-item.open > .sidebar-title .arrow-icon {
  transform: rotate(-90deg);
}

.sidebar-closed-item {
  padding: 2px;
  font-size: 0.8rem !important;
}

.sidebar-closed-item > div > span > div {
  text-align: center;
  font-size: 0.8rem !important;
}

.sidebar-closed-item > div {
  justify-content: center;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.s-child {
  border-radius: 3px;
  margin-top: 5px;
}

a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}

.active {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #257735;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #4fa460;
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}

/* Add this to your SCSS code */
.sidebar.sidebar-closed {
  width: 60px;
}

